@model TropicalServerApp.ViewModel.AccountViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TropicalServer</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Login")
    @Scripts.Render("~/bundles/modernizr")
</head>
@*<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>*@
<body>
    <div id="container">

        <div>

            <div id="header">
                <img height="100" src="@Url.Content("~/Images/Header.jpg")" />

            </div>

            <div id="BodyDetail">
                <label id="Loginlbl">Mobile Customer Order Tracking</label>
                <form id="loginBox" action="@Url.Action("Submit", "Login")" method="post">
                    <label id="useridlbl">Login ID:</label>
                    <input name="account.UserId" id="useridtextbox" type="text" value="@Response.Cookies["userID"].Value" required /><br />
                    <label id="passwordlbl">Password:</label>
                    <input name="account.Password" id="passwordtextbox" type="password" required /><br />
                    <div id="login">
                        <div id="loginButton">
                            <label for="remember">Remember my Id</label>
                            <input name="remember" id="remembercheckbox" type="checkbox" value="true"/>
                            <input id="LoginBtn_1" type="submit" value="Log-in" />
                        </div>
                    </div>
                </form>
                <div id="forgot">
                    <label id="forgotUsername"><a href="@Url.Action("ForgotUsername", "Login")">Forgot Username</a></label>
                    <label id="forgotPassword"><a href="@Url.Action("ForgotPassword", "Login")">Forgot Password</a></label>
                </div>

                <div id="errorBox">
                    <label id="errorlbl">@Html.ValidationSummary()</label>
                </div>
                @*Login Box  Here *@
            </div>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>